<img src="https://raw.githubusercontent.com/afo/data-x-plaksha/master/imgsource/dx_logo.png" align="left"></img><br><br><br><br>

## Plaksha SQL assignment

---

## Submission details:

Please submit this as a Jupyter Notebook and a PDF of your results (both should show output). Also push your solutions to Github.

For the submision create a local database with `sqlite3` or `sqlalchemy` in a Jupyter notebook and make the queries either with a cursor object (and then print the results) or by using pandas `pd.read_sql_query()`.

___

When completing this homework you can experiment with SQL commands by utilizing this great online editor:

https://www.w3schools.com/sql/trysql.asp?filename=trysql_select_all

There are already some tables in the online Database, namely:

`Categories, Employees, OrderDetails, Orders, Products, Shippers, and Suppliers.`

If you want you can drop them by running  `DROP TABLE [table-name];` (or just keep them).

___

## Exercises:

First create a table called students. It has the columns: 'student_id', 'name', 'major', 'gpa' and 'enrollment_date' We will use a new form of `CREATE TABLE` expression to produce this table.

Note that you can improve this and are welcome to do so -- e.g. by specifying for example a PRIMARY KEY and a FOREIGN KEY in Q2 :)

    CREATE TABLE students AS
        SELECT 1 AS student_id, "John" AS name, "Computer Science" AS major, 3.5 AS gpa, "01-01-2022" AS enrollment_date UNION
        SELECT 2, "Jane", "Physics", 3.8, "01-02-2022" UNION
        SELECT 3, "Bob", "Engineering", 3.0, "01-03-2022" UNION
        SELECT 4, "Samantha", "Physics", 3.9, "01-04-2022" UNION
        SELECT 5, "James", "Engineering", 3.7, "01-05-2022" UNION
        SELECT 6, "Emily", "Computer Science", 3.6, "01-06-2022" UNION
        SELECT 7, "Michael", "Computer Science", 3.2, "01-07-2022" UNION
        SELECT 8, "Jessica", "Engineering", 3.8, "01-08-2022" UNION
        SELECT 9, "Jacob", "Physics", 3.4, "01-09-2022" UNION
        SELECT 10, "Ashley", "Physics", 3.9, "01-10-2022";


## Q1 Simple SELECTS (on the students table)
1. SELECT all records in the table.
2. SELECT students whose major is "Computer Science".
3. SELECT all unique majors (use SELECT DISTINCT) and order them by name, descending order (i.e. Physics first).
4. SELECT all students that have an 'e' in their name and order them by gpa in ascending order.


## Q2 Joins

Create a new table called courses, which indicates the courses taken by the students. 

Create the table by running:
	
    CREATE TABLE courses AS
        SELECT 1 AS course_id, "Python programming" AS course_name, 1 AS student_id, "A" AS grade UNION
        SELECT 2, "Data Structures", 2, "B" UNION
        SELECT 3, "Database Systems", 3, "B" UNION
        SELECT 1, "Python programming", 4, "A" UNION
        SELECT 4, "Quantum Mechanics", 5, "C" UNION
        SELECT 1, "Python programming", 6, "F" UNION
        SELECT 2, "Data Structures", 7, "C" UNION
        SELECT 3, "Database Systems", 8, "A" UNION
        SELECT 4, "Quantum Mechanics", 9, "A" UNION
        SELECT 2, "Data Structures", 10, "F";

1. COUNT the number of unique courses.
2. JOIN the tables students and courses and COUNT the number of students with the major Computer Science taking the course Python programming.
3. JOIN the tables students and courses and select the students who have grades higher than "C", only show their name, major, gpa, course_name and grade.


## Q3 Aggregate functions, numerical logic and grouping

1. Find the average gpa of all students.
2. SELECT the student with the maximum gpa, display only their student_id, major and gpa
3. SELECT the student with the minimum gpa, display only their student_id, major and gpa
4. SELECT the students with a gpa greater than 3.6 in the majors of "Physics" and "Engineering", display only their student_id, major and gpa
5. Group the students by their major and retrieve the average grade of each major.
6. SELECT the top 2 students with the highest GPA in each major and order the results by major in ascending order, then by GPA in descending order

# Your solution

In [8]:
import sqlite3

In [9]:
!ls

sample_data

In [10]:
# open connnection to a db file stored locally on disk
# if file doesn't exist it is created
connection = sqlite3.connect('students.db')

In [11]:
!ls

sample_data  students.db

In [12]:
# In order to run SQL commands with
# sqlite 3 we must create a cursor object
# that traverses the database
cursor = connection.cursor()

## Q1

In [13]:
sql_cmd_1 = """
CREATE TABLE students AS
    SELECT 1 AS student_id, "John" AS name, "Computer Science" AS major, 3.5 AS gpa, "01-01-2022" AS enrollment_date UNION
    SELECT 2, "Jane", "Physics", 3.8, "01-02-2022" UNION
    SELECT 3, "Bob", "Engineering", 3.0, "01-03-2022" UNION
    SELECT 4, "Samantha", "Physics", 3.9, "01-04-2022" UNION
    SELECT 5, "James", "Engineering", 3.7, "01-05-2022" UNION
    SELECT 6, "Emily", "Computer Science", 3.6, "01-06-2022" UNION
    SELECT 7, "Michael", "Computer Science", 3.2, "01-07-2022" UNION
    SELECT 8, "Jessica", "Engineering", 3.8, "01-08-2022" UNION
    SELECT 9, "Jacob", "Physics", 3.4, "01-09-2022" UNION
    SELECT 10, "Ashley", "Physics", 3.9, "01-10-2022";
"""

In [14]:
# In order to run SQL command on the databse file
# we have to execute them with the cursor
cursor.execute(sql_cmd_1)

#### 1.1 SELECT all records in the table.

In [15]:
cmd1_1 = '''SELECT * FROM students;'''

In [16]:
cursor.execute(cmd1_1).fetchall()

[(1, 'John', 'Computer Science', 3.5, '01-01-2022'),
 (2, 'Jane', 'Physics', 3.8, '01-02-2022'),
 (3, 'Bob', 'Engineering', 3.0, '01-03-2022'),
 (4, 'Samantha', 'Physics', 3.9, '01-04-2022'),
 (5, 'James', 'Engineering', 3.7, '01-05-2022'),
 (6, 'Emily', 'Computer Science', 3.6, '01-06-2022'),
 (7, 'Michael', 'Computer Science', 3.2, '01-07-2022'),
 (8, 'Jessica', 'Engineering', 3.8, '01-08-2022'),
 (9, 'Jacob', 'Physics', 3.4, '01-09-2022'),
 (10, 'Ashley', 'Physics', 3.9, '01-10-2022')]

#### 1.2 SELECT students whose major is "Computer Science".

In [17]:
cmd1_2 = ''' SELECT * FROM students
where major = 'Computer Science' 
'''

In [18]:
cursor.execute(cmd1_2).fetchall()

[(1, 'John', 'Computer Science', 3.5, '01-01-2022'),
 (6, 'Emily', 'Computer Science', 3.6, '01-06-2022'),
 (7, 'Michael', 'Computer Science', 3.2, '01-07-2022')]

#### 1.3 SELECT all unique majors (use SELECT DISTINCT) and order them by name, descending order (i.e. Physics first).

In [19]:
cmd1_3 = ''' SELECT DISTINCT major FROM students
ORDER BY major DESC 
'''

In [20]:
cursor.execute(cmd1_3).fetchall()

[('Physics',), ('Engineering',), ('Computer Science',)]

#### 1.4 SELECT all students that have an 'e' in their name and order them by gpa in ascending order.

In [21]:
cmd1_4 = ''' SELECT * FROM students 
WHERE name like '%e%' ORDER BY gpa ASC
'''

In [22]:
cursor.execute(cmd1_4).fetchall()

[(7, 'Michael', 'Computer Science', 3.2, '01-07-2022'),
 (6, 'Emily', 'Computer Science', 3.6, '01-06-2022'),
 (5, 'James', 'Engineering', 3.7, '01-05-2022'),
 (2, 'Jane', 'Physics', 3.8, '01-02-2022'),
 (8, 'Jessica', 'Engineering', 3.8, '01-08-2022'),
 (10, 'Ashley', 'Physics', 3.9, '01-10-2022')]

## Q2

In [23]:
sql_cmd_2 = """
CREATE TABLE courses AS
    SELECT 1 AS course_id, "Python programming" AS course_name, 1 AS student_id, "A" AS grade UNION
    SELECT 2, "Data Structures", 2, "B" UNION
    SELECT 3, "Database Systems", 3, "B" UNION
    SELECT 1, "Python programming", 4, "A" UNION
    SELECT 4, "Quantum Mechanics", 5, "C" UNION
    SELECT 1, "Python programming", 6, "F" UNION
    SELECT 2, "Data Structures", 7, "C" UNION
    SELECT 3, "Database Systems", 8, "A" UNION
    SELECT 4, "Quantum Mechanics", 9, "A" UNION
    SELECT 2, "Data Structures", 10, "F";
"""

In [24]:
cursor.execute(sql_cmd_2)

#### 2.1 COUNT the number of unique courses.

In [25]:
cmd2_1 = ''' SELECT COUNT(DISTINCT course_name) FROM courses'''

In [26]:
cursor.execute(cmd2_1).fetchall()

[(4,)]

#### 2.2 JOIN the tables students and courses and COUNT the number of students with the major Computer Science taking the course Python programming.

In [27]:
cmd2_2 = ''' 
SELECT COUNT(*)
FROM students as s JOIN courses as c 
ON s.student_id = c.student_id
WHERE s.major = 'Computer Science' AND c.course_name = 'Python programming';
'''

In [28]:
cursor.execute(cmd2_2).fetchall()

[(2,)]

#### 2.3 JOIN the tables students and courses and select the students who have grades higher than "C", only show their name, major, gpa, course_name and grade.

In [29]:
cmd2_3 = '''
SELECT name, major, gpa, course_name, grade
FROM students as s JOIN courses as c
ON s.student_id = c.student_id
WHERE c.grade > 'C'
'''

In [30]:
cursor.execute(cmd2_3).fetchall()

[('Emily', 'Computer Science', 3.6, 'Python programming', 'F'),
 ('Ashley', 'Physics', 3.9, 'Data Structures', 'F')]

## Q3

#### 3.1 Find the average gpa of all students.

In [31]:
cmd3_1 = '''
SELECT AVG(gpa) FROM students
'''

In [32]:
cursor.execute(cmd3_1).fetchall()

[(3.5800000000000005,)]

#### 3.2 SELECT the student with the maximum gpa, display only their student_id, major and gpa

In [33]:
cmd3_2 = '''
SELECT student_id, major, gpa
FROM students
WHERE gpa = (SELECT MAX(gpa) FROM students);
'''

In [34]:
cursor.execute(cmd3_2).fetchall()

[(4, 'Physics', 3.9), (10, 'Physics', 3.9)]

#### 3.3 SELECT the student with the minimum gpa, display only their student_id, major and gpa

In [35]:
cmd3_3 = '''
SELECT student_id, major, gpa
FROM students
WHERE gpa = (SELECT MIN(gpa) FROM students);
'''

In [36]:
cursor.execute(cmd3_3).fetchall()

[(3, 'Engineering', 3.0)]

#### 3.4 SELECT the students with a gpa greater than 3.6 in the majors of "Physics" and "Engineering", display only their student_id, major and gpa

In [37]:
cmd3_4 = '''
SELECT student_id, major, gpa
FROM students
WHERE gpa > 3.6 AND major = 'Physics';
'''

In [38]:
cursor.execute(cmd3_4).fetchall()

[(2, 'Physics', 3.8), (4, 'Physics', 3.9), (10, 'Physics', 3.9)]

#### 3.5 Group the students by their major and retrieve the average grade of each major.

In [39]:
cmd3_5 = '''
SELECT s.major, AVG(c.grade) FROM
students as s JOIN courses as c
ON s.student_id = c.student_id
GROUP BY s.major;
'''

In [40]:
cursor.execute(cmd3_5).fetchall()

[('Computer Science', 0.0), ('Engineering', 0.0), ('Physics', 0.0)]

**We can't apply average on string and here grades are in string format. So, I am finding out the average "gpa".**

In [41]:
cmd3_5 = '''
SELECT major, AVG(gpa) 
FROM students
GROUP BY major;
'''

In [42]:
cursor.execute(cmd3_5).fetchall()

[('Computer Science', 3.4333333333333336),
 ('Engineering', 3.5),
 ('Physics', 3.75)]

#### 3.6 SELECT the top 2 students with the highest GPA in each major and order the results by major in ascending order, then by GPA in descending order

In [43]:
cmd3_6 = '''SELECT major, MAX(gpa)
FROM students
GROUP BY major 
ORDER BY major ASC, gpa DESC
LIMIT 2
'''

In [44]:
cursor.execute(cmd3_6).fetchall()

[('Computer Science', 3.6), ('Engineering', 3.8)]